.graph{
    align-items: center;
    justify-content: center;
    display:flex;
   
    margin-right: auto;
     width: 8em
  
  }
  
  .name{
    display:flex;

    text-align: center;
  }

  .details{
    text-align: left;
    padding-left: 200px;
    background-color: rgb(208, 170, 170);

    max-width: 450px;
    border: 120px;
    border-color: aqua;
    margin-left: 100px;


  }

  .detailsText{
    width: 350px;
    margin-left: 100px;
  
  }