.graph{
    align-items: center;
    justify-content: center;
    display:flex;
    margin-left: auto;
    margin-right: auto;
     width: 8em
  
  }
  
  .name{
    display:flex;

    text-align: center;
  }